@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
}

body{
    font-family:'Roboto Mono', sans-serif;
    font-size: 1.2rem;
    min-height: 100% ;
}

/*              CONTENT
=====================================*/

.content{
    box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
    border-radius: 4px;
    padding: 10px;
    background-color: #F3F5FC;
}

.header{
    grid-area: header;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.input-entrada{
    grid-area: input-entrada;
    display: flex;
    justify-content: start;
    margin: 0 auto;
    width: 100%;
}

.advertencia{
    grid-area: advertencia;
    display: flex;
    align-content: flex-start;
    justify-content: center;
    gap: 5px;
}

.btn-1{
    grid-area: boton1;
    display: flex;
    justify-content: center;
}

.btn-2{
    grid-area: boton2;
    display: flex;
    justify-content: center;
}

.input-salida{
    grid-area: input-salida;
    display: flex;
    justify-content: center;
    margin-top: 6%;
}

.btn-copiar{
    grid-area: btncopiar;
    display: flex;
    justify-content: center;
}

.footer{
    grid-area: footer;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.content{
    display: grid;
    gap: 10px;
    grid-template:
    "header" 50px
    "input-entrada" 250px
    "advertencia" 20px
    "boton1" 40px
    "boton2" 40px
    "input-salida" 250px
    "btncopiar" 40px
    "footer" 50px /
    100%;
}

.advertencia img{
    vertical-align:top;
}

.advertencia p{
    margin: 0 auto;
    align-self: flex-end;
    vertical-align: text-bottom;
}

/*ELEMENTOS
=======================================*/
.img-header{
    width: 18px;
}

.input-mensaje{
    padding: 10px;
    resize: none;
    width: 80%;
    color: #0A3871;
    font-size: 18px;
    outline: none;
    border: none;
    border-radius: 10px;
    margin-left: 9%;
}

.btn-encriptar{
    margin: 0 auto;
    width: 70%;
    border: none;
    border-radius: 10px;
    background-color: #0A3871;
    color:white;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.5s ease;
}

.btn-desencriptar{
    margin: 0 auto;
    width: 70%;
    border: #0A3871 solid 1px;
    border-radius: 10px;
    background-color: rgb(243, 245, 252);
    font-size: 16px;
    color: #0A3871;
    font-weight: bold;
    transition: all 0.5s ease;
}

.copiar{
    width: 90%;
    border:none;
    outline: none;
    border-radius: 10px;
    color: #0A3871;
    font-size: 15px;
    background-color: rgb(243, 245, 252);
    display: none;
    box-shadow: 0px 10px 10px -8px rgba(0, 0, 0, 0.08);
    transition: all 0.5s ease;
}

.condicion{
    font-size: 14px;
    color: #495057;
    margin-left: 18%;
    font-weight: 500px;
}

.input-resultado{
    resize: none;
    width: 80%;
    color: #0A3871;
    font-size: 17px;
    outline: none;
    border-radius: 10px;
    box-shadow: 25px 35px 30px rgba(0, 0, 0, 0.08);
}



.developed{
    font-size: 12px;
}

.icon-git{
    margin: 3% auto;
}



/*PSEUDOCODIGO
========================================*/

.btn-encriptar:hover{
    background-color: #092f5e;
    cursor: pointer;
}

.btn-desencriptar:hover{
   background-color: #e4e3ed;
   cursor:pointer;
}

.copiar:hover{
    background-color:#e4e3ed;
    cursor:pointer;
}

.copiar:active{
    color: white;
    background-color: #51f07c;
    transition:  0.3s all;
}

.copiar::before{
    content: "Copiado!";
    position: absolute;
    top: 670px;
    right: 41%;
    background-color: #51f07c;
    color: white;
    font-weight: 400;
    padding: 8px 10px;
    border-radius: 20px;
    font-size: 15px;
    display: none;
}

.copiar::after{
    content: "";
    position: absolute;
    top: 696px;
    right: 49%;
    width: 10px;
    height: 10px;
    background-color: #51f07c;
    transform: rotate(45deg);
    display: none;
}

.btn-encriptar:active{
    background-color: #12498d;
}

.copiar.active:before,
.copiar.active:after{
    display: block;
}

.btn-desencriptar:active{
    background-color:rgb(243, 245, 252);
}

textarea::-webkit-input-placeholder {
    color: #092f5e;
  }



/* RESPONSIVE
====================================*/

@media (min-width: 600px){
    
    .content{

        grid-template: 
        "header header" 100px
        "input-entrada input-entrada" 300px
        "advertencia advertencia" 20px
        "boton1 boton2" 50px
        "input-salida input-salida" 300px
        "btncopiar btncopiar" 45px
        "footer footer" 60px /
        auto      auto;
    }

    .condicion{
        margin-left: 25%;
        margin-bottom: 8%;
    }

    .btn-encriptar{
        width: 75%;
        margin-left: 22%;
    }

    .btn-desencriptar{
        width: 68.7%;
        margin-right: 22%;
    }
    
    .copiar::before{
        top: 780px;
        right: 44%;
    
    }

    .copiar::after{
        top: 808px;
        right: 49.5%;
    }

    .input-mensaje,
    .input-resultado{
        font-size: 18px;
    }

    .img-header{
        width: 25px;
    }

}

@media (min-width: 900px){
    .content{
        grid-template: 
        "header header header" 100px
        "input-entrada input-entrada input-salida" 300px
        "advertencia advertencia ."
        "boton1 boton2 btncopiar" 50px
        "footer footer footer" 100px /
        400px 400px 400px;
        
    }

    .header{
        grid-column: span 1;
        margin-left: 10%;
    }


    .img-header{
        margin: 0;
        width: 25px;
    }

    .input-mensaje{
        border: none;
        margin-left: 15%;
        font-size: 20px;
    }

    .input-salida{
        margin:auto;
        width: 350px;
        height: 350px;
    }

    .input-resultado{
        border: none;
        width: 100%;
        font-size: 20px;
    }

    .footer{
        display: flex;
        align-items: center;
    }


    .advertencia{
        justify-content: flex-start;
        margin-left: 15%;
        font-size: 12px;
    }

    .btn-encriptar{
        margin-left: 45%;
        width: 60%;
    }

    .btn-desencriptar{
        width: 55%;
        margin-right: 25%;
        
    }

    .icon-git:hover{
        transition: all 0.5s ease-in-out;
        transform: translateY(-1px);
    }

    .devel{
        position: relative;
        top: 25%;
    }

    .copiar::before{
        top: 67%;
        right: 18.6%;
    }
    .copiar::after{
        top: 71.2%;
        right: 21.2%;
        
    }
}