@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;500;700;900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
}

body{
    font-family:'Roboto Mono', sans-serif;
    font-size: 1.2rem;
    min-height: 100% ;
}

/*              CONTENT
=====================================*/

.content{
    box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
    border-radius: 4px;
    padding: 10px;
    background-color: #F3F5FC;
}

.header{
    grid-area: header;
    display: flex;
    align-items: center;
    margin-left: 10%;
}

.input-entrada{
    grid-area: input-entrada;
    display: flex;
    justify-content: start;
    margin: 0 auto;
    width: 100%;
}

.advertencia{
    grid-area: advertencia;
    display: flex;
    align-content: flex-start;
    justify-content: center;
    gap: 5px;
}

.btn-1{
    grid-area: boton1;
    display: flex;
    justify-content: center;
}

.btn-2{
    grid-area: boton2;
    display: flex;
    justify-content: center;
}

.input-salida{
    grid-area: input-salida;
    display: flex;
    justify-content: center;
    margin-top: 6%;
}

.btn-copiar{
    grid-area: btncopiar;
    display: flex;
    justify-content: center;
}

.footer{
    grid-area: footer;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.content{
    display: grid;
    gap: 10px;
    grid-template:
    "header" 50px
    "input-entrada" 250px
    "advertencia" 20px
    "boton1" 40px
    "boton2" 40px
    "input-salida" 250px
    "btncopiar" 40px
    "footer" 50px /
    100%;
}

.advertencia img{
    vertical-align:top;
}

.advertencia p{
    margin: 0 auto;
    align-self: flex-end;
    vertical-align: text-bottom;
}

/*ELEMENTOS
=======================================*/
.img-header{
    margin: 0 auto;
    width: 20px;
}

.input-mensaje{
    resize: none;
    width: 80%;
    color: #0A3871;
    font-size: 16px;
    outline: none;
    border: none;
    border-radius: 10px;
    margin-left: 9%;
}

.btn-encriptar{
    margin: 0 auto;
    width: 70%;
    border: none;
    border-radius: 10px;
    background-color: #0A3871;
    color:white;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.5s ease;
}

.btn-desencriptar{
    margin: 0 auto;
    width: 70%;
    border: #0A3871 solid 2px;
    border-radius: 15px;
    background-color: white;
    font-size: 12px;
    color: #0A3871;
    font-weight: bold;
    transition: all 0.5s ease;
}

.copiar{
    width: 90%;
    border:none;
    outline: none;
    border-radius: 10px;
    color: #0A3871;
    font-size: 15px;
    display: none;
    box-shadow: 0px 10px 10px -8px rgba(0, 0, 0, 0.08);
    transition: all 0.5s ease;
}

.condicion{
    color : #000000;
    font-size: 12px;
    margin-left: 18%;
    font-weight: 500px;
}

.input-resultado{
    resize: none;
    width: 80%;
    color: #0A3871;
    font-size: 17px;
    outline: none;
    border-radius: 10px;
    box-shadow: 0px 24px 32px 8px rgba(0, 0, 0, 0.08);
}



.developed{
    color: #0A3871;
    font-size: 15px;
}

.icon-git{
    margin: 3% auto;
}



/*PSEUDOCODIGO
========================================*/

.btn-encriptar:hover{
    background-color: #092f5e;
    cursor: pointer;
}

.btn-desencriptar:hover{
   background-color: #cdd6dd;
   cursor:pointer;
}

.copiar:hover{
    background-color: #dae1e6;
    cursor:pointer;
}

.copiar:active{
    color: white;
    background-color: #51f07c;
}

.copiar::before{
    content: "Copiado!";
    position: absolute;
    top: 45.5em;
    right: 41%;
    background-color: #12498d;
    color: white;
    padding: 8px 10px;
    border-radius: 20px;
    font-size: 15px;
    display: none;
}



.btn-encriptar:active{
    background-color: #12498d;
}

.copiar.active:before{
    display: block;
} 

.btn-desencriptar:active{
    background-color: #fcfcfc;
}

textarea::-webkit-input-placeholder {
    color: #092f5e;
  }


/* RESPONSIVE
====================================*/

@media (min-width: 600px){
    
    .content{

        grid-template: 
        "header header" 100px
        "input-entrada input-entrada" 300px
        "advertencia advertencia" 20px
        "boton1 boton2" 50px
        "input-salida input-salida" 300px
        "btncopiar btncopiar" 45px
        "footer footer" 60px /
        auto      auto;
    }

    .condicion{
        margin-left: 25%;
        margin-bottom: 8%;
    }

    .btn-encriptar{
        margin-left: 25%;
    }

    .btn-desencriptar{
        margin-right: 25%;
    }
    
    .header{
        margin-left: 5%;
    }


    .copiar::before{
        top: 785px;
        right: 44%;
    
    }

    .input-mensaje,
    .input-resultado{
        font-size: 18px;
    }

    
}

@media (min-width: 900px){
    .content{
        grid-template: 
        "header header header" 100px
        "input-entrada input-entrada input-salida" 300px
        "advertencia advertencia ."
        "boton1 boton2 btncopiar" 50px
        "footer footer footer" 100px /
        400px 400px 400px;
        
    }

    .header{
        margin-right: auto;
        margin-top: 2%;
        grid-column: 2 / -6; 
    }


    .img-header{
        width: 30px;
    }

    .input-mensaje{
        border: none;
        margin-left: 15%;
        font-size: 18px;
    }

    .input-salida{
        margin:auto;
        width: 350px;
        height: 350px;
    }

    .input-resultado{
        border: none;
        width: 100%;
        font-size: 18px;
    }

    .footer{
        display: flex;
        align-items: center;
    }


    .advertencia{
        justify-content: flex-start;
        margin-left: 15%;
        font-size: 12px;
    }

    .btn-encriptar{
        width: 60%;
        margin-left: 35%;
    }

    .btn-desencriptar{
        width: 60%;
        margin-right: 35%;
        
    }

    .icon-git:hover{
        transform: scale(1.2);
    }

    .devel{
        position: relative;
        top: 18%;
    }

    .copiar::before{
        top: 67%;
        right: 13%;
    }
}